@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,800|Roboto+Condensed:400,600');

@media (min-width:1024px) {

/*Set up initial page*/
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*Remove margins and padding and use relative positioning*/
body {
    margin: 0px;
    padding: 0px;
    position: relative;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
    background: #293f50;
    color: #888;
    font: 300 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Ensure everything is equal */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}


p {
}

/* ====== NAVIGATION SECTION ====== */
#home-nav {
    text-decoration: none;
    width: 100%;
    display: inline-block;
    text-align: right;
}

#home-nav nav {
    vertical-align: middle;
    opacity: 1;

}

#home-nav nav ul li img {
    border-radius: 50%;
    border: 1px solid #424242;
}

#home-nav nav img:hover {
    opacity: 0.5;
}

#home-nav nav ul li {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    text-decoration: none;
    margin-right: 10px;
    padding-right: 10px;
    vertical-align: middle;
    font-size: 1.2em;
}

#home-nav nav ul li a {
    text-decoration: none;
    color: #fff;
    background-color: #424242;
    padding: 5px 7px 5px 7px;
    border: 1px solid #424242;
    border-radius: 5px;
}

#home-nav nav ul li a:hover {
    background-color: white;
    color: #000;
}

/* ====== BOTTOM/FOOTER SECTION ====== */
#bot-level {
}

#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
}
