html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Custom styles
  ========================================
*/
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,900|Open+Sans');

body {
  background: #6C0B84;
  color: #888;
  font: 300 18px/24px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container,
.grid {
  margin: 0 auto;
  width: 960px;
}
.container {
  padding-left: 30px;
  padding-right: 30px;
}
.grid,
.col-1-3,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}
.col-1-3,
.col-2-3  {
  display: inline-block;
  vertical-align: top;
}
.col-1-3 {
  width: 32.33%;
}
.col-2-3 {
  width: 65.66%;
}

/*
  ========================================
  Clearfix
  ========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}
/*
LARGE DEVICES
*/

@media (min-width: 1050px) {
/*
  ========================================
  Typography
  ========================================
*/

h1, h2, h3, h4 {
  color: #DF8FF4;
}
h1, h3, h4, h5, p {
  margin-bottom: 22px;
}
h1 {
  font-size: 36px;
  line-height: 44px;
}
h2 {
  font-size: 24px;
  line-height: 44px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
h5 {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
strong {
  font-weight: 400;
}
cite,
em {
  font-style: italic;
}

/*
  ========================================
  Links
  ========================================
*/

a {
  color: #AE5FC1;
  text-decoration: none;
}
a:hover {
  color: #a9b2b9;
}
p a {
  border-bottom: 1px solid #dfe2e5;
}

/*
  ========================================
  Buttons
  ========================================
*/

.btn {
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    letter-spacing: .5px;
    margin: 0;
    text-transform: uppercase;
}
.btn-alt {
  border: 1px solid #fff;
  padding: 10px 30px;
}
.btn-alt:hover {
  background: #fff;
  color: #AE5FC1;
}


/*
  ========================================
  Primary header
  ========================================
*/

.logo {
  border-top: 4px solid #AE5FC1;
  float: left;
  font-size: 48px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 44px;
  padding: 40px 0 22px 0;
  text-transform: uppercase;
}
.tagline {
  margin: 66px 0 22px 0;
  text-align: right;
}
.primary-nav {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.primary-header a,
.primary-footer a {
  color: #fff;
}
.primary-header a:hover,
.primary-footer a:hover {
  color: #AE5FC1;
}


/*
  ========================================
  Primary footer
  ========================================
*/

.primary-footer {
  color: #AE5FC1;
  font-size: 14px;
  padding-bottom: 44px;
  padding-top: 44px;
}
.primary-footer small {
  float: left;
  font-weight: 400;
}

/*
  ========================================
  Navigation
  ========================================
*/

.nav {
  text-align: right;
}

.nav li {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}
.nav li:last-child {
  margin-right: 0;
}


/*
  ========================================
  Home
  ========================================
*/

.hero {
    color: #fff;
    line-height: 44px;
    padding: 22px 80px 66px 80px;
    text-align: center;
}

.hero h2 {
  font-size: 36px;
}
.hero p {
  font-size: 24px;
  font-weight: 100;
}
.teaser a:hover h3 {
  color: #a9b2b9;
}

.teaser img {
  border-radius: 5px;
  display: block;
  margin-bottom: 22px;
  max-width: 100%;
}

/*
  ========================================
  Rows
  ========================================
*/

.row,
.row-alt{
  min-width: 960px;
}
.row {
  background: #fff;
  padding: 66px 0 44px 0;
}
.row-alt {
   background: #57B7B7;
   background: -webkit-linear-gradient(to right, #067878, #57B7B7);
   background: -moz-linear-gradient(to right, #067878, #57B7B7);
   background: linear-gradient(to right, #067878, #57B7B7);
   padding: 44px 0 22px 0;
 }

 .row h1 {
     color: #004E4E;
 }

 .row-alt h1 {
     color: #004E4E;
 }

 .row-alt p {
     color: #87E7E7;
 }

 /*
  ========================================
  Leads
  ========================================
*/

.lead {
  text-align: center;
}
.lead p {
  font-size: 21px;
  line-height: 33px;
}

/*
 ========================================
 Success
 ========================================
*/

.notice-success {
  background: #67b11c;
  background: url("tick.png") 20px 50% no-repeat, linear-gradient(#72c41f, #5c9e19);
  border: 2px solid #467813;
  border-radius: 5px;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 15px 20px 15px 50px;
}

/*
========================================
Projects
========================================
*/
.row h1 {
    border-bottom: 1px solid #648880;
    text-align: left;
}

.project-info {
  border: 1px solid #dfe2e5;
  border-radius: 5px;
  padding: 22px 0;
  text-align: center;
}

.project {
  border-bottom: 1px dashed #648880;
}

.blockquote {
    padding-left: 20px;
    font-size: .9em;
    font-style: italic;
}


/*
========================================
Contact
========================================
*/

.reasons {
    list-style: square;
}
.reasons li {
    list-style: square;
    padding-top: 5px;
}
}

/*
MEDIUM/TABLET DEVICES
*/

@media (min-width: 666px) and (max-width: 1049px) {
/*
Changing grid and cols to fit whole page instead
*/

.container,
.grid {
  margin: 0 auto;
  width: 666px;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
}
.grid,
.col-1-3,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}

.col-1-3 {
  width: 100%;
}
.col-2-3 {
  width: 100%;
}

.teaser.col-1-3 {
  width: 32.33%;
}
.teaser.col-2-3 {
  width: 65.66%;
}

body {
  font: 300 22px/28px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
  ========================================
  Typography
  ========================================
*/

h1, h2, h3, h4 {
  color: #DF8FF4;
}
h1, h3, h4, h5, p {
  margin-bottom: 22px;
}
h1 {
  font-size: 36px;
  line-height: 44px;
}
h2 {
  font-size: 30px;
  line-height: 44px;
}
h3 {
  font-size: 26px;
}
h4 {
  font-size: 18px;
}
h5 {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
strong {
  font-weight: 400;
}
cite,
em {
  font-style: italic;
}

/*
  ========================================
  Links
  ========================================
*/

a {
  color: #AE5FC1;
  text-decoration: none;
}
a:hover {
  color: #a9b2b9;
}
p a {
  border-bottom: 1px solid #dfe2e5;
}

/*
  ========================================
  Buttons
  ========================================
*/

.btn {
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    letter-spacing: .5px;
    margin: 0;
    text-transform: uppercase;
}
.btn-alt {
  border: 1px solid #fff;
  padding: 10px 30px;
}
.btn-alt:hover {
  background: #fff;
  color: #AE5FC1;
}


/*
  ========================================
  Primary header
  ========================================
*/

.logo {
  border-top: 4px solid #AE5FC1;
  float: left;
  text-align: center;
  font-size: 48px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 44px;
  padding: 40px 0 22px 0;
  text-transform: uppercase;
}
.tagline {
  margin: 66px 0 22px 0;
  text-align: right;

}
.primary-nav {
  text-align: right;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.primary-header a,
.primary-footer a {
  color: #fff;
}
.primary-header a:hover,
.primary-footer a:hover {
  color: #AE5FC1;
}


/*
  ========================================
  Primary footer
  ========================================
*/

.primary-footer {
  color: #AE5FC1;
  font-size: 14px;
  padding-bottom: 44px;
  padding-top: 44px;
  text-align: right;
}
.primary-footer small {
  float: left;
  font-weight: 400;
}

/*
  ========================================
  Navigation
  ========================================
*/

.nav {
}

.nav li {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}
.nav li:last-child {
  margin-right: 0;
}


/*
  ========================================
  Home
  ========================================
*/

.hero {
    color: #fff;
    line-height: 44px;
    padding: 22px 40px 66px 40px;
    text-align: center;
}

.hero h2 {
  font-size: 36px;
}
.hero p {
  font-size: 24px;
  font-weight: 100;
}
.teaser a:hover h3 {
  color: #a9b2b9;
}

.teaser img {
  border-radius: 5px;
  display: block;
  margin-bottom: 22px;
  max-width: 100%;
}

/*
  ========================================
  Rows
  ========================================
*/

.row,
.row-alt{
  min-width: 666px;
}
.row {
  background: #fff;
  padding: 66px 0 44px 0;
}
.row-alt {
   background: #57B7B7;
   background: -webkit-linear-gradient(to right, #067878, #57B7B7);
   background: -moz-linear-gradient(to right, #067878, #57B7B7);
   background: linear-gradient(to right, #067878, #57B7B7);
   padding: 44px 0 22px 0;
 }

 .row h1 {
     color: #004E4E;
 }

 .row-alt h1 {
     color: #004E4E;
 }

 .row-alt p {
     color: #87E7E7;
 }

 /*
  ========================================
  Leads
  ========================================
*/

.lead {
  text-align: center;
}
.lead p {
  font-size: 21px;
  line-height: 33px;
}

/*
 ========================================
 Success
 ========================================
*/

.notice-success {
  background: #67b11c;
  background: url("tick.png") 20px 50% no-repeat, linear-gradient(#72c41f, #5c9e19);
  border: 2px solid #467813;
  border-radius: 5px;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 15px 20px 15px 50px;
}

/*
========================================
Projects
========================================
*/
.row h1 {
    border-bottom: 1px solid #648880;
    text-align: left;
}

.project-info {
  border: 1px solid #dfe2e5;
  border-radius: 5px;
  padding: 22px 0;
  text-align: center;
}

.project {
  border-bottom: 1px dashed #648880;
}

.blockquote {
    padding-left: 20px;
    font-size: .9em;
    font-style: italic;
}


/*
========================================
Contact
========================================
*/

.reasons {
    list-style: square;
}
.reasons li {
    list-style: square;
    padding-top: 5px;
}
}

/*
SMALL/PHONE DEVICES
*/

@media (max-width: 665px) {
/*
Changing grid and cols to fit whole page instead
*/

.container,
.grid {
  margin: 0 auto;
  width: 90%;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
}
.grid,
.col-1-3,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}

.col-1-3 {
  width: 100%;
}
.col-2-3 {
  width: 100%;
}


body {
  font: 300 22px/28px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
  ========================================
  Typography
  ========================================
*/

h1, h2, h3, h4 {
  color: #DF8FF4;
}
h1, h3, h4, h5, p {
  margin-bottom: 22px;
}
h1 {
  font-size: 36px;
  line-height: 44px;
}
h2 {
  font-size: 30px;
  line-height: 44px;
}
h3 {
  font-size: 26px;
}
h4 {
  font-size: 18px;
}
h5 {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
strong {
  font-weight: 400;
}
cite,
em {
  font-style: italic;
}

/*
  ========================================
  Links
  ========================================
*/

a {
  color: #AE5FC1;
  text-decoration: none;
}
a:hover {
  color: #a9b2b9;
}
p a {
  border-bottom: 1px solid #dfe2e5;
}

/*
  ========================================
  Buttons
  ========================================
*/

.btn {
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    letter-spacing: .5px;
    margin: 0;
    text-transform: uppercase;
}
.btn-alt {
  border: 1px solid #fff;
  padding: 10px 30px;
}
.btn-alt:hover {
  background: #fff;
  color: #AE5FC1;
}


/*
  ========================================
  Primary header
  ========================================
*/

.logo {
  border-top: 4px solid #AE5FC1;
  text-align: center;
  font-size: 48px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 44px;
  padding: 40px 0 22px 0;
  text-transform: uppercase;
}
.tagline {
  margin: 0 0 22px 0;
  text-align: center;

}
.primary-nav {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 7px 0 7px 0;
  margin-bottom: 20px;
}

.primary-header a,
.primary-footer a {
  color: #fff;
}
.primary-header a:hover,
.primary-footer a:hover {
  color: #AE5FC1;
}


/*
  ========================================
  Primary footer
  ========================================
*/

.primary-footer {
  color: #AE5FC1;
  font-size: 14px;
  padding-bottom: 44px;
  padding-top: 44px;
  text-align: right;
}
.primary-footer small {
  float: left;
  font-weight: 400;
}

/*
  ========================================
  Navigation
  ========================================
*/

.nav {
}

.nav li {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
  padding: 8px;
  text-align: center;
}


.nav li:last-child {
  margin-right: 0;
}


/*
  ========================================
  Home
  ========================================
*/

.hero {
    color: #fff;
    line-height: 44px;
    padding: 22px 40px 66px 40px;
    text-align: center;
}

.hero h2 {
  font-size: 36px;
}
.hero p {
  font-size: 24px;
  font-weight: 100;
}
.teaser a:hover h3 {
  color: #a9b2b9;
}

.teaser img {
  border-radius: 5px;
  display: block;
  margin-bottom: 22px;
  max-width: 100%;
}

/*
  ========================================
  Rows
  ========================================
*/

.row,
.row-alt{
  min-width: 100%;
}
.row {
  background: #fff;
  padding: 66px 0 44px 0;
}
.row-alt {
   background: #57B7B7;
   background: -webkit-linear-gradient(to right, #067878, #57B7B7);
   background: -moz-linear-gradient(to right, #067878, #57B7B7);
   background: linear-gradient(to right, #067878, #57B7B7);
   padding: 44px 0 22px 0;
 }

 .row h1 {
     color: #004E4E;
 }

 .row-alt h1 {
     color: #004E4E;
 }

 .row-alt p {
     color: #87E7E7;
 }

 /*
  ========================================
  Leads
  ========================================
*/

.lead {
  text-align: center;
}
.lead p {
  font-size: 21px;
  line-height: 33px;
}

/*
 ========================================
 Success
 ========================================
*/

.notice-success {
  background: #67b11c;
  background: url("tick.png") 20px 50% no-repeat, linear-gradient(#72c41f, #5c9e19);
  border: 2px solid #467813;
  border-radius: 5px;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 15px 20px 15px 50px;
}

/*
========================================
Projects
========================================
*/
.row h1 {
    border-bottom: 1px solid #648880;
    text-align: left;
}

.project-info {
  border: 1px solid #dfe2e5;
  border-radius: 5px;
  padding: 22px 0;
  text-align: center;
}

.project {
  border-bottom: 1px dashed #648880;
}

.blockquote {
    padding-left: 20px;
    font-size: .9em;
    font-style: italic;
}


/*
========================================
Contact
========================================
*/

.reasons {
    list-style: square;
}
.reasons li {
    list-style: square;
    padding-top: 5px;
}
}
